@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffe4e6;
}

::-webkit-scrollbar-thumb {
    background: #fda4af;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e11d48;
}